<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" type="image/png" sizes="16x16" href="<%=themeConfig.iconURL%>">
      <link rel="stylesheet" type="text/css" href="https://assistants.ga/purecookie.css" />
      <title><%=themeConfig.websiteName%></title>
      <link href="assets/node_modules/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="assets/node_modules/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
      <link href="assets/node_modules/morrisjs/morris.css" rel="stylesheet">
      <link href="assets/node_modules/c3-master/c3.min.css" rel="stylesheet">
      <link href="css/style.css" rel="stylesheet">
      <link href="css/pages/dashboard1.css" rel="stylesheet">
      <link href="css/colors/default.css" id="theme" rel="stylesheet">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <style>
         br {
         display: inline !important;
         }
      </style>
   </head>
   <body class="fix-header fix-sidebar card-no-border">
      <%-include('partials/preloader.ejs')%>
      <div id="main-wrapper">
         <%-include('partials/topbar.ejs', {req:req})%>
         <%-include('partials/header.ejs', {now:'index'})%>
         <div class="page-wrapper">
            <div class="container-fluid">
          <% /* %>    
          <div class="row">
                  <div class="col-lg-12">
                     <div class="card">
                        <div class="card-body">
                        <% */ %>
                           <h5 class=" card-title"><%-themeConfig.index.card.title || "config.index.card.title"%></h5>
                           <p class="m-b-0 m-t-20" id="index_cardDescription"><%-themeConfig.index.card.description || "config.index.card.description"%></p>
                        <% /* %>
                        <div class="d-flex m-t-20">
                           </div>
                         
                        </div>
                     </div>
                  </div>
               </div>
               <% */ %>
              <% /* %>
              <div class="row">
                  <div class="col-lg-6">
                     <div class="card">
                        <div class="card-body">
                        <% */ %>
                           <h5 class="card-title"><%-themeConfig.index.information.title || "config.index.information.title"%></h5>
                           <p><%-themeConfig.index.information.description || "config.index.information.description"%></p>
                     <% /* %>
                     </div>
                     </div>
                  </div>
                </div>
 <% */ %>
<div class="" style="padding: 0 0px !important;">
                <div class="container" data-aos="fade-up" style="align-items: center !important;justify-content: center !important;padding-top: 30%;max-width: 80%;">
                	<div class="row layout-top-spacing">
                        
<div data-aos="fade-up" class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                        	<div class="card1 component-card_1" style="width: 15rem;height: 10rem;margin: auto;">
                                <div class="card-body1">
                                    <div class="icon-svg" style="float: right;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-gift"><polyline points="20 12 20 22 4 22 4 12"></polyline><rect x="2" y="7" width="20" height="5"></rect><line x1="12" y1="22" x2="12" y2="7"></line><path d="M12 7H7.5a2.5 2.5 0 0 1 0-5C11 2 12 7 12 7z"></path><path d="M12 7h4.5a2.5 2.5 0 0 0 0-5C13 2 12 7 12 7z"></path></svg>
                                    </div>
                                    <h5 class="card-title1">Giveaways</h5>
                                    <p class="card-text1">Host giveaways with various Requirements & Customised Embeds</p>
                                </div>
                            </div>
                        </div>
            </div>












</div>
                </div>
           
            <%-include('partials/footer.ejs')%>
         </div>
      </div>
      <script src="assets/node_modules/jquery/jquery.min.js"></script>
      <script src="assets/node_modules/bootstrap/js/popper.min.js"></script>
      <script src="assets/node_modules/bootstrap/js/bootstrap.min.js"></script>
      <script src="js/perfect-scrollbar.jquery.min.js"></script>
      <script src="js/waves.js"></script>
      <script src="js/sidebarmenu.js"></script>
      <script src="js/custom.min.js"></script>
      <script src="assets/node_modules/raphael/raphael-min.js"></script>
      <script src="assets/node_modules/morrisjs/morris.min.js"></script>
      <script src="assets/node_modules/d3/d3.min.js"></script>
      <script src="assets/node_modules/c3-master/c3.min.js"></script>
      <script src="js/dashboard1.js"></script>
      <script src="https://assistants.ga/purecookie.js"></script>
   </body>
</html>
